body {
  padding: 0;
  margin: 0;
  width: 100%;
}
.header {
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.854);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.header h1 {
  text-align: center;
  color: white;
  margin-top: 24px;
  margin-bottom: 10px;
}
.section-search {
  display: flex;
  flex-direction: row;
}
.search {
  width: 75%;
  height: 25px;
  margin: 0px;
  padding: 0px;
  font-size: larger;
}
.button-search {
  width: 25%;
  height: 29px;
  margin: 0;
  padding: 0;
  background: #3898ec;
  border: 0;
  font-size: 18px;
  color: white;
}
.button-search:hover{
  color: #3898ec;
  font-weight: 600;
  transform: scale(1.02);
  background: white;
  border-radius: 10px;
  font-size: 20px;
  text-shadow: 0px 0px 10px #3898ec, 0px 0px 20px #3898ec , 0px 0px 40px #3898ec ;
}

.menu {
  width: 100%;
  height: 30px;
  background: rgba(0, 0, 0, 0.274);
  position: sticky;
  top:0;
  z-index: 2;
}
.sec-menu {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.sec-menu a {
  text-decoration: none;
  color: black;
  font-size: larger;
  font-weight: 600;
}
.sec-menu a:hover{
  color: #ffffff;
  background: #070707;
  border: 3px solid white;
  border-radius: 10px;
  text-shadow: 0px 0px 10px #fff, 0px 0px 20px #fff , 0px 0px 40px #fff ;
}
.picture{
  display: flex;
  justify-content: end;
  
}
.img1 {
  width: 70%;
  object-fit: fill;
  
 
}
.img1:hover{
  width:70%;

}
.p-1{
 font-size: 50px;
 font-weight: 600;
}

.p-1:hover{
  text-decoration: underline rgb(111, 98, 98);
}
.picture h2 {
  font-size: 60px;
  position: absolute;
  top: 150px;
  left: 10px;
  font-family: "Poppins", sans-serif;

}


#showroom{
  width: 100%;
}
.prix {
  font-size: 90px;
  margin: 0;
  text-align: center;
}
.prix:hover{
  border:2px solid #000;
  background: #000;
  color: red;
  text-shadow:0px 0px 10px #fff, 0px 0px 20px white, 0px 0px 40px #fff;
}
.img2-2{
  display: flex;
  justify-content: center;
  padding-bottom: 0;
  
}
.img2 {
  object-fit: fill;
}
.img2-2:hover{

  background: #60585822;
  

}
.showroom-page {
  width: 100%;
  height: 70px;
  background: #0a0909cf;

}

.showroom-page h2{
  color: white;
  text-align: center;
  font-size: 55px;
  margin: 0;
  padding: 0;
}
.p-showroom{
  font-size: 30px;
}
.p-showroom:hover{
  text-decoration: underline;

}
.img3-3{
  width:100%;
  position: relative;
  right: 0;
  height:500px;
}
.img3-z1{
  position: absolute;
  right: 150px;
  z-index: 1;
}
.img3-z0{
  position: absolute;
  right: 20px;
  object-fit: fill;
   
  width: 70%;

  z-index: 0;
}
.compact{
  font-size: 50px;
}
.compact:hover{
  text-decoration: underline rgba(78, 65, 65, 0.799);
}
.images{
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
    
}
.images-text-photo{
    width: 50%;
    font-size: 20px;
}
.p-text{
  width: 600px;
  font-size: 30px;
}
.img4-1{
    width: 600px;
}
.img4{
   width: 400px;
}

.galaxy{
    display: flex;
    justify-content: center;
}
.about{
    width:100%;
    height:70%;
    background: rgba(0, 0, 0, 0.801);
}
.about h3{
    color: white;
    font-size: 40px;
    text-align: center;

}
.p1{
  font-size: 40px;
}
.img{
  display: flex;
  justify-content: center;
}
.img6{
width: 60%;
}
.about-bg{ 
    background-color: gray;
}
.line{
  width: 100%;
  height: 2px;
  background-color: #4138ec;
}
.about-bg .p1{
    display: inline;
    border: 2px dashed black;
    margin-top:20px;
    margin-top: 30px;
}
.p-info{
    font-size: 30px;
    margin-left: 130px;
}
.p2-info{
    font-size: 20px;
    margin-left: 180px;
}
.sec-acheter{
  margin-left: 70px;
}
.img7-div{
    display: flex;
    justify-content: center;
}
.pay-cards{
    width: 80%;
    object-fit: fill;
    margin-bottom: 60px;
}
.ACHETER input, label{
  display: block;
}
.label{
  font-size: 30px;
  margin-top: 10px;
}
.ACHETER input{
  width:25%;
  height: 35px;
  font-size: 20px;
}
.ACHETER .date-cvc{
  margin-top: 20px;;
  width: 12%;
  display: inline;
}
.ACHETER button{
  width: 28%;
  height: 50px;
  background: #000;
  margin-top: 15px;
  font-size: 30px;
  color: #FFFFFF;
  text-decoration: none;
}
.ACHETER button:hover{
  background: blue;
  color: white;
  text-shadow: 0px 0px 10px white , 0px 0px 20px white, 0px 0px 40px white;
}
.contact{
  width: 100%;
  height: 40px;
  background: rgba(0, 0, 0, 0.811);
}
.contact h3{
  color: white;
  font-size: 30px;
  text-align: center;
}
.contact-bg{
  width: 100%;
  background: rgba(128, 128, 128, 0.479);
  
}

.contact-bg label{
  font-size: 30px;
  margin-top: 10px;
}
.contact-bg label:hover{
  font-weight: 800;
}
.contact-bg input{
  width:25%;
  height: 35px;
  font-size: 20px;
}
.contact-bg input:hover{
  font-weight: 600;
}
.contact-bg button{

  background: #3898ec;
  display: block;
  margin-top: 0;
  width: 150px;
  border: 0;
  font-size: 30px;
  color: white;
}
.contact-bg button:hover{
  border: 2px #3898ec solid;
  font-weight:600;
  background-color: white;
  border-radius: 20px;
  color: #3898ec;
}
.copyright{
  font-size: 30px;
  margin: 0;
}

@media (max-width: 901px)
{
  #home h2{
    font-size:40px ;
  }
  .p-1{
    font-size: 25px;
  }
  .img2-2{
  width: 730px;
  }
  .img2{
    width:400px;
  }
  .img3-3{
    width: 750px;
    height:350px
  }
  .img3-z1{
    width: 500px;
    position: absolute;
    right: 60px;
  }
  .images{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .images-text-photo{
    display: grid;
    grid-template-rows: auto auto;
  }
  .img4-1{
    grid-template-columns: 2;
    width: 300px;
  }
  .p-text{
    font-size: 20px;
    width: 300px;
  }
  .img4{
    width: 380px;
  }
  .ACHETER input{
    height: 25px;
    width: 200px;
    font-size: 15px;
  }
  .ACHETER .date-cvc{
    width:95px
  }
  .ACHETER .label{
    font-size: large;
    font-weight: 600;
  }
  .ACHETER button{
 width: 120px;
 font-size: 20px;
  }
  .contact-bg input{
    height: 25px;
    width: 250px;
  }
  .contact-bg label{
    font-size: 25px;
    font-weight: 500;
  }
  .contact-bg .discr{
    height: 50px;
  }
  .copyright{
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  #home h2{
    font-size:25px ;
  }
  .p-1{
    font-size: 20px;
  }
  .img2-2{
  width: 485px;
  }
  .img2{
    width:500px;
  }
  .img3-3{
    width: 500px;
    height:200px;
  }
  .img3-z1{
    width: 300px;
    position: absolute;
    right: 40px;
  }
  .images{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .images-text-photo{
    display: grid;
    grid-template-rows: auto auto;
  }
  .img4-1{
    grid-template-columns: 2;
    width: 200px;
  }
  .p-text{
    font-size: 20px;
    width: 200px;
  }
  .img4{
    width: 280px;
  }

  .ACHETER input{
    height: 25px;
    width: 200px;
    font-size: 15px;
  }
  
  .ACHETER .date-cvc{
    width:95px
  }
  .ACHETER .label{
    font-size: large;
    font-weight: 600;
  }
  .ACHETER button{
  width: 120px;
  font-size: 20px;
  }
  .contact-bg input{
    height: 25px;
    width: 250px;
  }
  .contact-bg label{
    font-size: 25px;
    font-weight: 500;
  }
  .contact-bg .discr{
    height: 50px;
  }
  .copyright{
    font-size: 20px;
  }
}