body {
  padding: 0;
  margin: 0;
}
.header {
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.854);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: white;
}
.header h1 {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 10px;
}
.search {
  width: 75%;
  height: 25px;
  margin: 0px;
  padding: 0px;
  font-size: larger;
}
.button-search {
  width: 23%;
  height: 29px;
  margin: 0;
  padding: 0;
  background: #3898ec;
  border: 0;
  font-size: 18px;
  color: white;
}
.button-search:hover{
  color: #3898ec;
  font-weight: 600;
 transform: scale(1.02);
  background: white;
  border: 3px solid #fff;
  border-radius: 10px;
  font-size: 20px;
  text-shadow: 0px 0px 10px #3898ec, 0px 0px 20px #3898ec , 0px 0px 40px #3898ec ;
}
.section-search {
  flex-direction: row;
}
.menu {
  width: 100%;
  height: 30px;
  background: rgba(0, 0, 0, 0.256);
}
.sec-menu {
  display: flex;
 height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.sec-menu a {
  text-decoration: none;
  color: black;
  font-size: larger;
  font-weight: 600;
}
.sec-menu a:hover{
  color: #ffffff;
  background: #070707;
  border: 3px solid white;
  border-radius: 10px;
  text-shadow: 0px 0px 10px #ffffff, 0px 0px 20px #fff , 0px 0px 40px #fff ;
}
.picture{
  display: flex;
  justify-content: end;
  
}
.img1 {
  width: 70%;
  object-fit: fill;
  
 
}
.img1:hover{
  width:70%;

}
.p-1{
 display: inline-block;
 position: relative;
 font-size: 50px;
 font-weight: 600;
}
.p-1::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: transparent;
  transition: background 0.3s;
}
.p-1:hover::after{
  background: black;
}
.h2{
    font-size: 60px;
    
}
.picture h2 {
  position: absolute;
  top: 150px;
  left: 10px;
}
.img2-2{
  display: flex;
  justify-content: center;
  padding-bottom: 0;
  
}
.img2 {
  width: 40%;
  object-fit: fill;
  box-shadow: 0px 0px 10px #fff , 0px 0px 20px #fff, 0px 0px 40px #fff;
 
  
}
.img2-2:hover{

  background: #000;
  .showroom-page{
    background: #000;
  }

}
.prix {
  font-size: 90px;
  margin: 0;
  text-align: center;
}
.prix:hover{
  border:2px solid #000;
  background: #000;
  color: red;
  text-shadow:0px 0px 10px #fff, 0px 0px 20px white, 0px 0px 40px #fff;
}
.showroom-page {
  
  width: 100%;
  height: 70px;
  background: #0a0909cf;

}

.showroom-page h2{
  color: white;
  text-align: center;
  font-size: 55px;
  margin: 0;
  padding: 0;
}
.showroom-page .p {
    font-size: 30px;
}.img3{
    width: 100%;
    object-fit: fill;
}
picture div p{
    font-size: 30px;
}
.images{
    display: flex;
    
}
.text{
    width: 50%;
    font-size: 20px;

}
.img4{
    width:40%;
}
.img4{
   padding: 0;
   margin: 0;
   width: 60%;
   height: 600px
}
.compact{
    font-size: 50px;
}
.galaxy{
    display: flex;
    justify-content: center;
}
.about{
    width:100%;
    height:70%;
    background: rgba(0, 0, 0, 0.801);
}
.about h3{
    color: white;
    font-size: 40px;
    text-align: center;

}
.p{
    font-size: 40px;
}
.img6{
width: 60%;

}
.p1{
    font-size: 40px;
}
.img{
    display: flex;
    justify-content: center;
}
.gry{ 
    background-color: gray;
}
.line{
    width: 100%;
    height: 5px;
    background: rgba(50, 50, 195, 0.477);
}
h4{
    display: inline;
    border: 2px dashed black;
    margin-top:20px;
    margin-top: 30px;
}
.pe{
    font-size: 30px;
    margin-left: 130px;

}
.p2{
    font-size: 20px;
    margin-left: 180px;
}
.img7-div{
    display: flex;
    justify-content: center;
}
.img7{
    width: 80%;
    object-fit: fill;
    margin-bottom: 60px;
}


.ACHETER input, label{
  display: block;
}
.label{
  font-size: 30px;
  margin-top: 10px;
}
.ACHETER input{
  width:25%;
  height: 35px;
  font-size: 20px;
}
.ACHETER .mm{
  margin-top: 20px;;
  width:12%;
  display: inline;
}
.ACHETER button{
  width: 28%;
  height: 50px;
  background: #000000;
  margin-top: 15px;
}
.ACHETER button a{
  font-size: 30px;
  color: #FFFFFF;
  text-decoration: none;
}
.contact{
width: 100%;
height: 40px;
background: rgba(0, 0, 0, 0.811);
}
.contact h3{
  color: white;
  font-size: 30px;
  text-align: center;
}
.contact-bg{
  width: 100%;
  background: rgba(128, 128, 128, 0.479);
  
}
.marg{
  margin-left: 70px;
}
.contact-bg label{
  font-size: 30px;
  margin-top: 10px;
}
.contact-bg input{
  width:25%;
  height: 35px;
  font-size: 20px;
}
.contact-bg button{

  background: #3898ec;
  display: block;
  margin-top: 0;
  width: 150px;
  border: 0;
  font-size: 30px;
  color: white;
}
.copyright{
  font-size: 30px;
  margin: 0;

}



/* hover  */